@page "/"

@attribute [Authorize]

@using Community.Blazor.MapLibre
@using Community.Blazor.MapLibre.Models
@using Community.Blazor.MapLibre.Models.Control
@using Community.Blazor.MapLibre.Models.Marker

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.SignalR.Client

@using Pariqas.Models
@using Pariqas.Models.Devices
@using Pariqas.Web.Services

@inject HttpClient Http
@inject TokenService TokenService

<PageTitle>Home</PageTitle>

<MapLibre @ref="map" Options="options" Class="w-100 vh-100" OnLoad="OnMapInitializedAsync" />

@code
{
    private MapLibre map = new MapLibre();
    private MapOptions options = new MapOptions
    {
        MaxZoom = 23,
        MinZoom = 2,
        Zoom = 2,
        Style = "style.json",
        CanvasContextAttributes = new WebGLContextAttributes
        {
            Antialias = true,
            ContextType = "webgl2"
        }
    };

    private HubConnection connection;
    private List<Device> devices;
    
    private MarkerService MarkerService => new MarkerService(map);

    protected override async Task OnInitializedAsync()
    {
        connection = new HubConnectionBuilder()
            .WithUrl("https://localhost:7158/hubs/location", options =>
            {
                options.AccessTokenProvider = async () => await TokenService.GetTokenAsync();
            })
            .WithAutomaticReconnect()
            .Build();

        connection.On<string, Location>(EventNames.LocationUpdate, OnLocationUpdateAsync);
        
        devices = await Http.GetFromJsonAsync<List<Device>>("https://localhost:7158/devices");
        
        await connection.StartAsync();
    }

    private async Task OnMapInitializedAsync(EventArgs arg)
    {
        
        foreach (var device in devices)
        {
            string image = device.Type switch
            {
                DeviceType.Computer => "computer.png",
                DeviceType.Phone => "smartphone.png",
                _ => throw new ArgumentOutOfRangeException()
            };
            
            await MarkerService.AddMarkerAsync(device.Id, device.Location, new MarkerOptions
            {
                OpacityWhenCovered = "0",
                Extensions = new MarkerOptionsExtensions
                {
                    HtmlContent = $"""<div class="d-flex justify-content-center align-items-center rounded-circle border border-2 border-light-subtle bg-white" style="width: 50px; height: 50px;"><img src="/images/{image}" class="rounded-circle" style="width: 32px; height: 32px;"></div>"""
                }
            });
        }

        await map.AddControl(ControlType.NavigationControl, ControlPosition.TopRight);
        await map.AddControl(ControlType.GlobeControl, ControlPosition.TopRight);
    }

    private async Task OnLocationUpdateAsync(string id, Location location)
    {
        await MarkerService.MoveMarkerAsync(id, location);
    }
}