@page "/login"

@layout AuthenticationLayout

@inject HttpClient Http
@inject NavigationManager Navigation

@using Microsoft.AspNetCore.Components.Authorization

@using Pariqas.Http.Requests
@using Pariqas.Http.Responses
@using Pariqas.Web.Services

<PageTitle>Login</PageTitle>

<div class="d-flex align-items-center justify-content-center vh-100 bg-light">
    <EditForm Model="request" OnValidSubmit="Submit">
        <DataAnnotationsValidator></DataAnnotationsValidator>

        <div class="row w-75">
            <div class="col-12 mb-2">
                <InputText @bind-Value="request.Email" class="form-control" placeholder="Email"/>
                <ValidationMessage For="() => request.Email"></ValidationMessage>
            </div>

            <div class="col-12 mb-3">
                <InputText @bind-Value="request.Password" class="form-control" placeholder="Password" type="password"/>
                <ValidationMessage For="() => request.Password"></ValidationMessage>
            </div>

            <div class="d-flex justify-content-between mb-3">
                <a href="/sign-up" class="text-decoration-none small">No account ?</a>
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-outline-success btn">Login</button>
            </div>
        </div>
    </EditForm>
</div>

@code 
{
    private readonly JwtAuthenticationStateProvider _authenticationStateProvider;
    
    public Login(AuthenticationStateProvider authenticationStateProvider)
    {
        _authenticationStateProvider = authenticationStateProvider as JwtAuthenticationStateProvider;
    }
    
    private LoginRequest request = new LoginRequest();
    
    private async Task Submit()
    {
        var response = await Http.PostAsJsonAsync("https://pariqas.onrender.com/authentication/login", request);
        if (!response.IsSuccessStatusCode)
        {
            
        }
        
        var content = await response.Content.ReadFromJsonAsync<TokenResponse>();

        await _authenticationStateProvider.NotifyAuthenticationAsync(content.AccessToken);

        Navigation.NavigateTo("/");
    }
}